@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}


.sidebar {
  margin: 0;
  padding: 0;
  width: 30%;
  background-color: #fffffff8;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: 1px 2px 2px 2px rgb(165, 164, 164);
}

.display {
  margin-left: 30%;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar button {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar button {
    text-align: center;
    float: none;
  }
  .display{
    margin-left: 0;
  }
}

button{
  background-color: #fffffff8;
  border: solid 2px rgba(146, 146, 146, 0.952);
  border-radius: 20px;
  font-size: 1em;
  margin: 5px;
  padding: 5px;
}
button:hover{
  border-color: darkcyan;
}
.selected{
  background-color: rgb(201, 200, 200);
}

input{
  margin: 5px;
}

.collapse-button {
  display: block;
  width: 100%;
  background-color: #fffffff8;
  font-size: 1.5em;
  border: none;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.collapse-content.collapsed {
  display: none;
}

.collapsed-content.expanded {
  display: block;
}
.template-list{
  text-transform: capitalize;
}
.template-list:hover{
  color: darkcyan;
}

.label{
  display: block;
  width: 100%;
  font-weight: bold;
  margin: 10px;
}

.modal-pop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1010;
  background-color: white;
  width: auto;
  height: auto;
  border-radius: 20px;
}
.modal-overlay {
  z-index: 1000;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.75;
}

form {
  margin-top: 3em;
  padding: 5px;
}
#close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
form input[type=text] {
  width: auto;
  height: 2em;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}
#copy {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.custom{
  background-color: #fffffff8;
  border: solid 2px rgba(146, 146, 146, 0.952);
  border-radius: 20px;
  font-size: 1em;
  margin: 5px;
  padding: 5px;
}
 .custom:hover{
   border-color: darkcyan;
 }